# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\LTWEB\LTWEB2020\web_intelliJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
